@page
@model IdentityServer.Pages.Account.Register.IndexModel

@{
    
}
<div>
    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="col-sm-12 col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-header">
                    <h2>Register</h2>
                </div>
                <div class="card-body">
                    <form asp-route="Register">
                        <h1>@Model.Input.ReturnUrl</h1>
                        <input type="hidden" asp-for="Input.ReturnUrl"/>
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input class="form-control" placeholder="email" asp-for="Input.Email" autofocus>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.FirstName"></label>
                            <input class="form-control" placeholder="name" asp-for="Input.FirstName" autofocus>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.LastName"></label>
                            <input class="form-control" placeholder="name" asp-for="Input.LastName" autofocus>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.NickName"></label>
                            <input class="form-control" placeholder="name" asp-for="Input.NickName" autofocus>
                        </div>

                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input type="password" class="form-control" placeholder="password"
                                   asp-for="Input.Password" autofocus>
                        </div>
                        @*<div class="form-group">
                            <label asp-for="Input.RoleName"></label>
                            <select asp-for="Input.RoleName" class="form-control"
                                    asp-items="@(new SelectList(role_list))"></select>
                        </div>*@
                        <button type="submit" class="btn btn-primary" name="button" value="register">Register</button>
                    </form>
                </div>
                <div class="card-footer">
                    <a asp-page="../Login/Index" asp-route-returnUrl="@Model.Input.ReturnUrl">Login</a>
                </div>
            </div>
        </div>
    </div>

</div>